.gameCardContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 5px;
  background: #e0e0e0 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333f48;
}

.gameDate {
  display: flex;
  justify-content: flex-end;
  color: #0056fe;
  font-weight: 300;
  font-size: 14px;
}
.matchRivals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  white-space: nowrap;
}

.gameOdds {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}

.gameOddCard {
  cursor: pointer;
  width: 80px;
  height: 70px;
  background: #ffffff 0% 0% no-repeat;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oddTitle {
  color: #8a8a8a;
}

.active {
  background-color: #79c000;
}
